/* class styles */

.title{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
    text-align: center;
}

.selfie-img{
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 10px;
}

.ethan-ratcliff{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.professional-summary{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

.certifications{
    background-color: white;
    text-align: center;
    border-radius: 25px;
    padding: 3px 5px 30px 5px;
    margin: 15px;
}

.cert-icon{
    display: inline;
    width: 148.5px;
    border-radius: 100%;
    margin: -15px 25px 5px 25px;
}

.cert-verify{
    display: inline;
    text-align: center;
    margin: 0 50px 5px 50px;
}

.compliance{
    position: relative;
    top: 15px;
}

.personal-development{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

.professional-experience{
    font-family: 'Merriweather', serif;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

.jobs{
    margin: 3px;
}

.education{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
    text-align: center;
}

.education-break{
    position: relative;
    bottom:5px;
}

.technical-skills{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

.extra-links{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

.contact-me{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}

.contact-me-info{
    text-align: left;
}

.hobbies-title{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}

.contact-input{
    font-family: 'Merriweather', serif;
}

/* tag styles */

body {
    background-color: black;
    
}

hr {
    border-style: dotted none none;
    border-color: white;
    width: 5%;
    border-width: 7px;
}

textarea {
    background-color: whitesmoke;
}

input {
    background-color: whitesmoke;
}

h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

td {
    column-gap: 0;
}

p{
    font-family: 'Merriweather', serif;
}